body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  /*align-items: center;*/
  justify-content: center;
  background-image: linear-gradient(to left, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
  font-size: 20px;
}

:root {
  --bg-color: #ff61c0;
  --accent-color: #c05cac;
  --text-color: #460638;
  --done-task-color: #e26bea;
  --inp-color: #fff9f9;
  --delete-color: #ffaadc;
  --complete-task: #414141;
}


.not-visible {
  visibility: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.task-header {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  align-items: center;
  height: 50px;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.header-task {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

input {
  width: 100%;
  border:0;
  outline:none;
  background-color: var(--inp-color);
  font-size: 16px;
  font-family: Arial;
}


.input-task-name {
  padding: 20px;
  border-radius: 10px;
}

h1, h2 {
  text-align:center;
  color: var(--text-color);
  text-transform: uppercase;
  font-family: Arial;
}

.files {
  width: 150px;
}

.task {
  background-color: var(--accent-color);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.task-name {
  color: var(--text-color);
  background-color: var(--inp-color);
  display: flex;
  justify-content: center;

}

.done {
  text-decoration: line-through;
}

button {
  border: 0;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.add-task {
  background-color: var(--accent-color);
  margin-left: 10px;
  width: 200px;
  color: #ffffff;
}

.complete-task {
  background-color: var(--complete-task);
  color: white;
}

.dtn-task {
  background: var(--delete-color);
  /*padding: 10px;*/
  margin-left: 10px;
}

.date {
  padding: 10px;
  /*margin: 10px;*/
}

.task-body {
  resize: none;
  border:0;
  outline:none;
  background-color: var(--inp-color);
}

.task-container {
  padding: 20px;
  border:0;
  outline:none;
  background: var(--inp-color);
  border-radius: 10px;
}

.input-task-body {
  height: 100px;
  border-radius: 10px;
  padding: 20px;
  font-size: 16px;
  font-family: Arial;
}

hr {
  color: var(--delete-color);
}

.date-input {
  width: 200px;
  border-radius: 10px;
  margin-left: 10px;
}