/* Colors for my Website */
.not-visible {
  visibility: hidden;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.task-header {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  align-items: center;
  height: 50px;
  margin-bottom: 10px;
}
form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.header-task {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
input {
  width: 100%;
  border: 0;
  outline: none;
  background-color: #fff9f9;
  font-size: 16px;
  font-family: Arial;
}
.input-task-name {
  padding: 20px;
  border-radius: 10px;
}
h1,
h2 {
  text-align: center;
  color: #460638;
  text-transform: uppercase;
  font-family: Arial;
}
.files {
  width: 150px;
}
.task {
  background-color: #c05cac;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.task-name {
  color: #460638;
  background-color: #fff9f9;
  display: flex;
  justify-content: center;
}
.active {
  box-shadow: 0px 0px 15px #ffaadc;
}
button {
  border: 0;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
}
.add-task {
  background-color: #c05cac;
  margin-left: 10px;
  width: 200px;
  color: #ffffff;
}
.complete-task {
  background-color: #414141;
  color: white;
}
.dtn-task {
  background: #ffaadc;
  /*padding: 10px;*/
  margin-left: 10px;
}
.date {
  padding: 10px;
  /*margin: 10px;*/
}
.task-body {
  resize: none;
  border: 0;
  outline: none;
  background-color: #fff9f9;
  color: #460638;
}
.task-container {
  padding: 20px;
  border: 0;
  outline: none;
  background: #fff9f9;
  border-radius: 10px;
}
.input-task-body {
  height: 100px;
  border-radius: 10px;
  padding: 20px;
  font-size: 16px;
  font-family: Arial;
}
hr {
  color: #ffaadc;
}
.date-input {
  width: 300px;
  border-radius: 10px;
  margin-left: 10px;
  padding: 10px;
}
#files {
  position: absolute;
  top: 100px;
  left: 200px;
}
#upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9f9;
  margin-left: 10px;
  padding: 10px;
  position: relative;
  /* z-index: 10; */
  width: 60px;
  border-radius: 10px;
}
#upload-container label:hover {
  cursor: pointer;
}
#upload-container input[type=file] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  position: absolute;
  z-index: -10;
}
